[Unit]
Description=Sensor Data Collector
After=network.target

[Service]
ExecStart=/usr/bin/php /etc/coh/scripts/sensorcollect/collect.php
WorkingDirectory=/etc/coh/scripts/sensorcollect
Restart=on-failure
StandardOutput=append:/var/log/coh/sensor.collect.log
StandardError=append:/var/log/coh/sensor.collect.log
Restart=always
User=peter

[Install]
WantedBy=multi-user.target
